#sudoku {

	font-size: 0;
	text-align: center;
}

div.box {
	display: inline-block;
	border: 3px solid 2E2105;
}

div.cell {
	display: inline-block;
}

.cell input {
	width: 40px;
	height: 40px;
	border: 2px solid 7A7466;
	background-color: FA437A;
}

body {

	background-image: url(/images/japanese.jpg);
	background-position: center;
	width: 1120px;
	height: 500px;
	text-align: center;
	font-family: fantasy;
	text-decoration: underline;
	background-color: CBCFD4;
}